.wrapper {
    padding: 20px;
    margin-right: 100px;
    margin-left: 250px;
    margin-top: 50px;
  }
  /* .table{
    margin-left: 150px;
    margin-right: 100px;
  } */
  .body{
    margin-left: 150px; 
  }
  